*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: rgb(37, 32, 27);
}

.card{
    width: 350px;
    height: 500px;

    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.img{
    width: 100%;
    height: 200px;
}

.img img{
    width: 100%;
    height: 100%;
}

.content{
    padding: 20px;
    text-align: center;
}

.suptext{
    color: lightpink;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.title{
    margin-bottom: 25px;
}

.text{
    color: gray;
    margin-top: 20px;
    margin-bottom: 40px;
}


.statistic{

    background-color: lightpink;
    display: flex;
    padding: 10px;
    text-align: center;
    
}


.data{
    width: calc(100% / 3);
color: white;
}

.right{
    border-right: 1px solid rgba(128, 128, 128, 0.7);
}